<!-- @format -->

{% extends "layout.html" %} {% block body %}
	<!-- Page Header -->
	<header class="masthead" style="background-image: url('home-bg.jpg')">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="site-heading">
						<h1>CrazyFORPointers</h1>
						<span class="subheading">We Care For Your Pointers</span>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<p>
					The CrazyFORPointers is the Platform for learning all the Engineering Stuff which will get you better pointers. 
					We start with subjects like DLD and on the way we will cover every subject and topic in the Engineering Curriculum 
					which is present in most of the colleges so that you get the best scores possible in the least amount of time, 
					we will upload short videos with notes and also will be help you with any of your doubts from 9:00 – 5:00. 
				</p>
				<p>
					This is a venture to go into the secrets of how to get the best marks and adopts a 
					pointer centric approach so that a student can complete all the studies before one day of exam. 
					So the topics are given on the left pane and all the notes are present below the Videos if you’re 
					stuck in any problem just comment below the notes, the notes are downloadable for free and also 
					the videos can be accessed as playlist from youtube. An additional benefit of this website is it 
					gives you an MCQ based question series and also a Subjective Based test assessment series where 
					in you will be able to evaluate yourself. The answers to the same are also given. 
				</p>
				<p>
					We hope you use this opportunity for the best and also for any feedback contact to shaikhmohammedammar62@gmail.com 
				</p>
				<!-- Pager -->
	<div class="clearfix">
		<a class="btn btn-primary float-right" href="/about">Our Programs &rarr;</a>
	</div>
			</div>
			
		</div>
	</div>
</div>
</body>
{% endblock %}
